body,html{
  overflow: hidden;
}
.App {
  text-align: center;
}
h1{
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0px;
}
#score{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.question-box{
  border: 1px solid black;
  margin : 0% 30%;
  padding: 10px;
  border-radius: 8px;
}

.question{
  letter-spacing: 1px;
}

img{
  width:65%;
  height: 40%;
}

.answers{
  margin:2% 15%;
}


.answers > button{
  margin-bottom : 10px;
  display:block;
 width: 100%;
 height: 10%;
 border-radius: 8px;
 padding: 8px;
}

button:hover{
  cursor: pointer;
}